

  <div class="wrap1">
    <p class="form-title">
        Sign In</p>
    <form class="login1">
      <input type="text" placeholder="Email" name="email" />
    
      <input type="password" placeholder="Password" />
    <input type="submit" value="Sign In" class="btn1 btn-success1" id="bttn" />
    <a href="/forgot"><p id="ps">Forgot your passord?</p></a>
    
    </form>
</div>



