.container
{ 
    padding: 0;
    margin: 0;
   
}
.wrap1
{
    background: url('https://www.administracionvirtual.es/wp-content/uploads/2016/05/mantener-orden.jpg') fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    width: 300px;
    margin: 0 auto;
}

form.login1 input[type="text"], form.login1 input[type="password"], #se
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login1 input[type="submit"]
{
    color:white;
    border: 1px solid #4cae4c;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}
form.login1 input[type="submit"] :hover
{
    color:pink;
    border: 1px solid pink !important;
    
}



.btn-success1:hover
{
    transition: background-color 0.5s ease;
}

form.login1 .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login1 .forgot-pass-content1
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login1 label, form.login1 a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login1 a
{
    transition: color 0.5s ease;
}

form.login1 a:hover
{
    color: #4cae4c;
}
.btn1 {
    display: inline-block;
    padding: 10px 27px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    vertical-align: middle;
    background-color: transparent;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-transition: all 0.3s ease-in;
}
#ps{    cursor:pointer;
    text-align: center;
    padding-top: 15px;
    color: white;}
    #ps:hover{
      color:  #4cae4c;
    }
    



