

  <div class="wrap1">
    <p class="form-title">
        Choose your company</p>
    <form class="login1">
      <select id="se">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
   
   <a href="/signin"><input value="Continue" class="btn1 btn-success1" id="bttn" /></a> 
   <a href="/signup"> <p id="ps">Don't have your company listed? Register your company</p></a>
    
    </form>
</div>



