.success{
    background:green !important;
}
.failed{
    background:red !important;
}
.warning{
    background:yellow !important;
}
.usert{
    width: 20em !important;
}
.ua{
    width: 100px !important;
    height: 100px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}
.userp{
    text-align:center;
}
.bod{
    text-align:center;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer !important;
}
.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}
.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}
.btn-default {
    
   
    color: #444;
   
}
.btn{
    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}
.ge{
    height:100vh !important;
    background:gray !important;
    width:20em !important;
    margin-right:-25%;
    color:white;
}

#side-menu{
    width: 360px;
    box-shadow: 0 0 10px rgba(69,81,97,.25);
    background-color: #fff;
    position: fixed;
    left:-360px;
    top: 0;
    height: 100vh;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    transition: left .2s;
}
#te{
    cursor: pointer;
}
.az{
    text-align:center !important;
}
.slide-nav__header {
    padding: 30px 20px 25px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slide-nav__back {
    position: absolute;
    left: 20px;
    font-size: 16px;
    color: #939daa;
    cursor: pointer;
}
.slide-nav__logo {
    position: relative;
    top: 1px;
    vertical-align: middle;
    border-style: none;
}
.slide-nav__scrollpane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cols{
    height: 100px;
    padding-top: 20px;
    text-align: center;
}
.img-radius{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.feed-blog {
    border-left: 1px solid #d6d6d6;
    margin-left: 30px;
}
.feed-blog li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 50px;
}
.feed-blog li .feed-user-img {
    position: absolute;
    left: -20px;
    top: -10px;
}
.feed-blog li .feed-user-img {
    position: absolute;
    left: -20px;
    top: -10px;
}
.text-center {
    text-align: center!important;
}
.col-auto {
    position: relative;
    
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.feed-blog li h6 {
    line-height: 1.5;
    cursor: pointer;
}

.m-b-0 {
    margin-bottom: 0px;
}
.m-t-15 {
    margin-top: 15px;
}
.text-muted {
    color: #919aa3 !important;
}
.contact-list td img {
    width: 30px;
}

.img-circle {
    border-radius: 100%;
}


