 <!-- Pre-loader start -->
 
<!-- Pre-loader end -->

<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">

      <nav class="navbar header-navbar pcoded-header" >
          <div class="navbar-wrapper">
              <div class="navbar-logo" navbar-theme="theme4">
                  <a class="mobile-menu" id="mobile-collapse" href="#!">
                      <i class="ti-menu"></i>
                  </a>
                  <a href="#!">
                      <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" />
                  </a>
                  <a class="mobile-options">
                      <i class="ti-more"></i>
                  </a>
              </div>
              <div class="navbar-container container-fluid">
                  <div>
                      <ul class="nav-left">
                          <li>
                              <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                          </li>
                          <li>
                            <a class="main-search morphsearch-search" >
                                <!-- themify icon -->
                                <i class="fa fa-files-o" (click)="toggleSideMenu2()" id="te"></i>
                            </a>
                        </li>
                        
                         <!-- <li>
                              <a class="main-search morphsearch-search" href="#">
                                  <!-- themify icon 
                                  <i class="ti-search"></i>
                              </a>
                          </li>-->
                          <li>
                              <a href="#!" onclick="javascript:toggleFullScreen()">
                                  <i class="ti-fullscreen"></i>
                              </a>
                          </li>
                          
                      </ul>


                      <ul class="nav-right">
                          <!--<li>-->
                              <!--<a href="#" class="btn btn-primary">Upgrade To Pro</a>-->
                          <!--</li>-->
                          <li class="header-notification lng-dropdown">
                              <a href="#" id="dropdown-active-item">
                                  <i class="flag-icon flag-icon-gb m-r-5"></i> English
                              </a>
                              <ul class="show-notification">
                                  <li>
                                      <a href="#" data-lng="en">
                                          <i class="flag-icon flag-icon-gb m-r-5"></i> English
                                      </a>
                                  </li>
                                  <!--<li>
                                      <a href="#" data-lng="es">
                                          <i class="flag-icon flag-icon-es m-r-5"></i> Spanish
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#" data-lng="pt">
                                          <i class="flag-icon flag-icon-pt m-r-5"></i> Portuguese
                                      </a>
                                  </li>-->
                                  <li>
                                      <a href="#" data-lng="fr">
                                          <i class="flag-icon flag-icon-fr m-r-5"></i> French
                                      </a>
                                  </li>
                              </ul>
                          </li>

                          <li class="header-notification">
                              <a href="#!">
                                  <i class="fa fa-envelope-o"></i>
                                  <span class="badge success">5</span>
                              </a>
                              <ul class="show-notification">
                                  <li>
                                      <h6>Messages</h6>
                                      <label class="label label-danger">New</label>
                                  </li>
                                  <li>
                                      <div class="media">
                                          <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                                          <div class="media-body">
                                              <h5 class="notification-user">Exvivo It</h5>
                                              <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                              <span class="notification-time">30 minutes ago</span>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="media">
                                          <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                                          <div class="media-body">
                                              <h5 class="notification-user">Joseph William</h5>
                                              <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                              <span class="notification-time">30 minutes ago</span>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="media">
                                          <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                                          <div class="media-body">
                                              <h5 class="notification-user">Sara Soudein</h5>
                                              <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                              <span class="notification-time">30 minutes ago</span>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </li>
                          <!---->
                          <li class="header-notification">
                            <a href="#!">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge warning">5</span>
                            </a>
                            <ul class="show-notification">
                            <li>
                            <h6>Notifications</h6>
                            <label class="label label-danger">New</label>
                            </li>
                            <li>
                            <div class="media">
                            <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                            <div class="media-body">
                            <h5 class="notification-user">Exvivo It</h5>
                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                            <span class="notification-time">30 minutes ago</span>
                            </div>
                            </div>
                            </li>
                            <li>
                            <div class="media">
                            <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                            <div class="media-body">
                            <h5 class="notification-user">Joseph William</h5>
                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                            <span class="notification-time">30 minutes ago</span>
                            </div>
                            </div>
                            </li>
                            <li>
                            <div class="media">
                            <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                            <div class="media-body">
                            <h5 class="notification-user">Sara Soudein</h5>
                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                            <span class="notification-time">30 minutes ago</span>
                            </div>
                            </div>
                            </li>
                            </ul>
                            </li>
                          <!---->
                          <!---->
                          <li class="header-notification">
                            <a href="#!">
                            <i class="fa fa-flag-o"></i>
                            <span class="badge failed">5</span>
                            </a>
                            <ul class="show-notification">
                            <li>
                            <h6>Tasks</h6>
                            <label class="label label-danger">New</label>
                            </li>
                            <li>
                            <div class="media">
                            <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                            <div class="media-body">
                            <h5 class="notification-user">Exvivo IT</h5>
                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                            <span class="notification-time">30 minutes ago</span>
                            </div>
                            </div>
                            </li>
                            <li>
                            <div class="media">
                            <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                            <div class="media-body">
                            <h5 class="notification-user">Joseph William</h5>
                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                            <span class="notification-time">30 minutes ago</span>
                            </div>
                            </div>
                            </li>
                            <li>
                            <div class="media">
                            <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                            <div class="media-body">
                            <h5 class="notification-user">Sara Soudein</h5>
                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                            <span class="notification-time">30 minutes ago</span>
                            </div>
                            </div>
                            </li>
                            </ul>
                            </li>
                          <!---->
                          <li class="user-profile header-notification">
                              <a href="#!">
                                  <img src="assets/images/user.png" alt="User-Profile-Image" >
                                  <span>Exvivo IT</span>
                                  
                              </a>
                              <ul class="show-notification profile-notification  usert">
                                <li class="user-header">
                                  <img src="assets/images/user.png" class="img-circle ua" alt="User Image">
                  
                                  <p class="userp">
                                    Exvivo IT - Web Developer<br>
                                    <small>Member since Nov. 2012</small>
                                  </p>
                                </li>
                                <li>
                                  <div class="row">
<div class="col-sm-4 bod">Followers</div>
<div class="col-sm-4 bod">Sales</div>
<div class="col-sm-4 bod">Friends</div>
                                  </div>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                  </li>
                              </ul>
                          </li>

                          <li class="header-notification">
                            <a href="#" id="dropdown-active-item">
                                <i class="fa fa-gears"></i>
                            </a>
                           <ul class="show-notification ge">
                              <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                                  <li class="active az"><a href="#control-sidebar-theme-demo-options-tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-wrench"></i></a></li>
                                  <li class="az"><a href="#control-sidebar-home-tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-home"></i></a></li>
                                  <li class="az"><a href="#control-sidebar-settings-tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-gears"></i></a></li>
                                </ul>
                           </ul>
                        </li>



                      </ul>
                         
                  </div>
              </div>
          </div>
      </nav>
      <div class="pcoded-main-container">
          <div class="pcoded-wrapper">
              <nav class="pcoded-navbar" >
                  <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                  <div class="pcoded-inner-navbar main-menu">

                      <div class="pcoded-navigatio-lavel">Layout</div>
                      <ul class="pcoded-item pcoded-left-item">
                          <li class="active pcoded-trigger ">
                              <a href="">
                                  <span class="pcoded-micon"><i class="fa fa-home"></i></span>
                                  <span class="pcoded-mtext">Acceuil</span>
                                  <span class="pcoded-mcaret"></span>
                              </a>
                          </li>
                      </ul>
                      <ul class="pcoded-item pcoded-left-item">
                            <li class="pcoded-hasmenu">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="ti-comments"></i></span>
                                    <span class="pcoded-mtext">Evenements</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                                <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Arb de fait</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                   </ul>
                            </li>
                        </ul>
                        
                      <ul class="pcoded-item pcoded-left-item">
                      
                          <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu">
                                <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                <span class="pcoded-mtext">Dashboard</span>
                                <span class="pcoded-mcaret"></span>
                                </a>
                                <ul class="pcoded-submenu">
                                
                                <li class="pcoded-hasmenu">
                                <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
                                <span class="pcoded-mtext">Rapport</span>
                                <span class="pcoded-mcaret"></span>
                                </a>
                                <ul class="pcoded-submenu">
                                <li class="">
                                <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Quotidien</span>
                                <span class="pcoded-mcaret"></span>
                                </a>
                                </li>
                                <li class="">
                                        <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                        <span class="pcoded-mtext">Hebdomadaire</span>
                                        <span class="pcoded-mcaret"></span>
                                        </a>
                                        </li>
                                        <li class="">
                                                <a href="javascript:void(0)">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Mensuel</span>
                                                <span class="pcoded-mcaret"></span>
                                                </a>
                                                </li>
                                </ul>
                                </li>
                                
                                </ul>
                                </li>
                                </ul>
                          <li class="pcoded-hasmenu">
                              <a href="javascript:void(0)">
                                  <span class="pcoded-micon"><i class="ti-crown"></i></span>
                                  <span class="pcoded-mtext">Analyse risque</span>
                                  <span class="pcoded-mcaret"></span>
                              </a>
                              <ul class="pcoded-submenu">
                                  <li class=" ">
                                      <a href="">
                                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                          <span class="pcoded-mtext">Arb de cause</span>
                                          <span class="pcoded-mcaret"></span>
                                      </a>
                                  </li>
                                  
                              </ul>
                          </li>
                          <li class="pcoded-hasmenu">
                              <a href="javascript:void(0)">
                                  <span class="pcoded-micon"><i class="ti-star"></i></span>
                                  <span class="pcoded-mtext">Base documentaires</span>
                                  <span class="pcoded-mcaret"></span>
                              </a>
                              <ul class="pcoded-submenu">
                                  <li class=" ">
                                      <a href="">
                                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                          <span class="pcoded-mtext">Régle SAS</span>
                                          <span class="pcoded-mcaret"></span>
                                      </a>
                                  </li>
                                  <li class=" ">
                                      <a href="">
                                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                          <span class="pcoded-mtext">Cartographie de risque</span>
                                          <span class="pcoded-mcaret"></span>
                                      </a>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                      
                      
                      <ul class="pcoded-item pcoded-left-item">
                          <li class="pcoded-hasmenu ">
                              <a href="javascript:void(0)">
                                  <span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
                                  <span class="pcoded-mtext">Détails du site</span>
                                  <span class="pcoded-mcaret"></span>
                              </a>
                              <ul class="pcoded-submenu">
                                  <li class="">
                                      <a href="javascript:void(0)">
                                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                          <span class="pcoded-mtext">Equipe</span>
                                          <span class="pcoded-mcaret"></span>
                                      </a>
                                  </li>
                                  <li class="">
                                        <a href="javascript:void(0)">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="pcoded-mtext">Secteur</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>

                              </ul>
                          </li>
                      </ul>

                  </div>
              </nav>
              <div class="pcoded-content">
                  <div class="pcoded-inner-content">

                      <div class="main-body">
                          <div class="page-wrapper">
                              <div class="page-header">
                                  <div class="page-header-title">
                                      <h4>Dashboard</h4>
                                  </div>
                                  <div class="page-header-breadcrumb">
                                      <ul class="breadcrumb-title">
                                          <li class="breadcrumb-item">
                                              <a href="#!">
                                                  <i class="icofont icofont-home"></i>
                                              </a>
                                          </li>
                                          <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="page-body">
                                  <div class="row">
                                      <!-- counter-card-1 start-->
                                      <div class="col-md-12 col-xl-4">
                                          <div class="card counter-card-1">
                                              <div class="card-block-big">
                                                  <div class="row">
                                                      <div class="col-6 counter-card-icon">
                                                          <i class="icofont icofont-chart-histogram"></i>
                                                      </div>
                                                      <div class="col-6  text-right">
                                                          <div class="counter-card-text">
                                                              <h3>23%</h3>
                                                              <p>ACTIVE USER</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- counter-card-1 end-->
                                      <!-- counter-card-2 start -->
                                      <div class="col-md-6 col-xl-4">
                                          <div class="card counter-card-2">
                                              <div class="card-block-big">
                                                  <div class="row">
                                                      <div class="col-6 counter-card-icon">
                                                          <i class="icofont icofont-chart-line-alt"></i>
                                                      </div>
                                                      <div class="col-6 text-right">
                                                          <div class="counter-card-text">
                                                              <h3>15%</h3>
                                                              <p>DOWN RATE</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- counter-card-2 end -->
                                      <!-- counter-card-3 start -->
                                      <div class="col-md-6 col-xl-4">
                                          <div class="card counter-card-3">
                                              <div class="card-block-big">
                                                  <div class="row">
                                                      <div class="col-6 counter-card-icon">
                                                          <i class="icofont icofont-chart-line"></i>
                                                      </div>
                                                      <div class="col-6 text-right">
                                                          <div class="counter-card-text">
                                                              <h3>35%</h3>
                                                              <p>SALE RATIO</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- counter-card-3 end -->
                                      <!-- Morris chart start -->
                                      <div class="col-md-12 col-xl-8">
                                          <div class="card">
                                              <div class="card-header">
                                                  <button class="btn btn-primary btn-sm">Week</button>
                                                  <button class="btn btn-primary btn-sm">Month</button>
                                                  <button class="btn btn-primary btn-sm">Year</button>
                                              </div>
                                              <div class="card-block">
                                                  <div id="morris-extra-area" style="height:340px;"></div>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Morris chart end -->
                                      <!--Follow block start-->
                                      <div class="col-md-4">
                                          <div class="card card-contact borderless-card">
                                              <div class="widget-profile-card-1">
                                                  <div class="bg-layer"></div>
                                                  <img class="img-fluid" src="assets/images/slider8.jpg" alt="card-style-1">
                                                  <button class="btn btn-default btn-outline-default btn-icon b-lft"><i class="icofont icofont-ui-user"></i></button>
                                                  <button class="btn btn-default btn-outline-default btn-icon b-rgt"><i class="icofont icofont-ui-message"></i></button>
                                                  <div class="middle-user">
                                                      <img class="img-fluid" src="assets/images/widget/user1.png" alt="Profile-user">
                                                  </div>
                                              </div>
                                              <div class="card-block text-center p-10">
                                                  <h5>Gregory Johnes</h5>
                                                  <p class="text-muted">Califonia, USA</p>
                                                  <button class="btn btn-primary btn-round m-t-10 m-b-20">Contact</button>
                                              </div>
                                              <div class="card-footer">
                                                  <div class="row text-center">
                                                      <div class="col-6 b-r-default">
                                                          <h4 class="text-primary">345</h4>
                                                          <span class="text-muted text-uppercase">Followers</span>
                                                      </div>
                                                      <div class="col-6">
                                                          <h4 class="text-primary">1,434</h4>
                                                          <span class="text-muted text-uppercase">Followings</span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <!--Follow block Ends-->
                                      <!-- Product table Start -->
                                      <div class="col-md-8">
                                          <div class="card">
                                              <div class="card-block">
                                                  <h5>Product Detail</h5>
                                              </div>
                                              <div class="card-block product-table p-t-35">
                                                  <div class="table-responsive">
                                                      <table class="table">
                                                          <thead>
                                                          <tr class="text-uppercase">
                                                              <th>Product</th>
                                                              <th>Quantity</th>
                                                              <th>Total</th>
                                                              <th>Dilevery</th>
                                                              <th>Actions</th>
                                                          </tr>
                                                          </thead>
                                                          <tbody>
                                                          <tr>
                                                              <td>1. Awesome T-shirt</td>
                                                              <td>24</td>
                                                              <td><button type="button" class="btn btn-primary">$550</button></td>
                                                              <td>M oscow,Lenina 44-1</td>
                                                              <td><button type="button" class="btn btn-success btn-round btn-outline-success">View</button></td>
                                                          </tr>
                                                          <tr>
                                                              <td>2. Awesome T-shirt</td>
                                                              <td>24</td>
                                                              <td><button type="button" class="btn btn-primary">$550</button></td>
                                                              <td>M oscow,Lenina 44-1</td>
                                                              <td><button type="button" class="btn btn-success btn-round btn-outline-success">View</button></td>
                                                          </tr>
                                                          <tr>
                                                              <td>3. Awesome T-shirt</td>
                                                              <td>24</td>
                                                              <td><button type="button" class="btn btn-primary">$550</button></td>
                                                              <td>M oscow,Lenina 44-1</td>
                                                              <td><button type="button" class="btn btn-success btn-round btn-outline-success">View</button></td>
                                                          </tr>
                                                          <tr>
                                                              <td>4. Awesome T-shirt</td>
                                                              <td>24</td>
                                                              <td><button type="button" class="btn btn-primary">$550</button></td>
                                                              <td>M oscow,Lenina 44-1</td>
                                                              <td><button type="button" class="btn btn-success btn-round btn-outline-success">View</button></td>
                                                          </tr>
                                                          </tbody>
                                                      </table>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Product table End -->
                                      <!-- Reset Message Start -->
                                      <div class="col-md-4">
                                          <div class="card">
                                              <div class="card-header">
                                                  <h5>Reset Message</h5>
                                              </div>
                                              <div class="card-block p-t-0">
                                                  <div class="card-msg b-b-default p-b-10">
                                                      <div class="card-msg-img">
                                                          <a href="#!">
                                                              <img class="img-circle" src="assets/images/avatar-1.png" alt="chat-user">
                                                          </a>
                                                      </div>
                                                      <div class="card-msg-contain">
                                                          <h6>Josephin Villa</h6>
                                                          <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                          <span>9:30 PM</span>
                                                      </div>
                                                  </div>
                                                  <div class="card-msg b-b-default p-t-10 p-b-10">
                                                      <div class="card-msg-img">
                                                          <a href="#!">
                                                              <img class="img-circle" src="assets/images/avatar-2.png" alt="chat-user">
                                                          </a>
                                                      </div>
                                                      <div class="card-msg-contain">
                                                          <h6>Josephin Villa</h6>
                                                          <p class="text-muted">Lorem Ipsum is simply dummy text of the printing.</p>
                                                          <span>9:30 PM</span>
                                                      </div>
                                                  </div>
                                                  <div class="card-msg p-t-10 p-b-10">
                                                      <div class="card-msg-img">
                                                          <a href="#!">
                                                              <img class="img-circle" src="assets/images/avatar-4.png" alt="chat-user">
                                                          </a>
                                                      </div>
                                                      <div class="card-msg-contain">
                                                          <h6>Josephin Villa</h6>
                                                          <p class="text-muted">Lorem Ipsum is simply dummy.</p>
                                                          <span>9:30 PM</span>
                                                      </div>
                                                  </div>

                                              </div>
                                          </div>
                                      </div>
                                      <!-- Pie Chart end -->

                                      <!--user chat box start-->
                                      <div class="col-md-3">
                                          <div class="card widget-chat-box">
                                              <div class="card-header">
                                                  <div class="row">
                                                      <div class="col-sm-2">
                                                          <i class="icofont icofont-navigation-menu pop-up"></i>
                                                      </div>
                                                      <div class="col-sm-8 text-center">
                                                          <h5>
                                                              John Henry
                                                          </h5>
                                                      </div>
                                                      <div class="col-sm-2 text-right">
                                                          <i class="icofont icofont-ui-edit"></i>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="card-block">
                                                  <p class="text-center">12:05 A.M.</p>
                                                  <div class="media">
                                                      <img class="d-flex mr-3 img-circle img-60 img-thumbnail" src="assets/images/user-card/img-round1.jpg" alt="Generic placeholder image">
                                                      <div class="media-body send-chat">
                                                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at
                                                          <span class="time">3 min ago</span>
                                                      </div>
                                                  </div>
                                                  <div class="media col-sm-8 offset-md-4">
                                                      <div class="media-body  receive-chat">
                                                          Cras sit amet nibh libero, in gravida nulla.vel metus scelerisque ante
                                                          <span class="time">
                                                          <i class="icofont icofont-check m-r-5"></i>Seen 2 sec ago
                                                          </span>
                                                      </div>
                                                  </div>
                                                  <div class="media">
                                                      <img class="d-flex mr-3 img-circle img-60 img-thumbnail" src="assets/images/user-card/img-round1.jpg" alt="Generic placeholder image">
                                                      <div class="media-body send-chat">
                                                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at
                                                          <span class="time">3 min ago</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="card-footer">
                                                  <input type="text" class="form-control" placeholder="Your Message">
                                              </div>
                                          </div>
                                      </div>
                                      <!--user chat box Ends-->
                                      <div class="col-md-3">
                                          <div class="card">
                                              <div class="card-block">
                                                  <h5>NOtifiction</h5>
                                              </div>
                                              <div class="card-block p-t-20">
                                                  <div class="card-notification">
                                                      <div class="card-noti-conatin">
                                                          <h6>5 mins ago</h6>
                                                          <p class="text-muted m-b-30">jennifer sent you an attachament</p>
                                                      </div>
                                                  </div>
                                                  <div class="card-notification">
                                                      <div class="card-noti-conatin">
                                                          <h6>45 mins ago</h6>
                                                          <p class="text-muted m-b-30">Paul has sent a request for <span>access</span> to the project folder</p>
                                                      </div>
                                                  </div>
                                                  <div class="card-notification">
                                                      <div class="card-noti-conatin">
                                                          <h6>2 days ago</h6>
                                                          <p class="text-muted m-b-30">Demin change the dedline on the project</p>
                                                      </div>
                                                  </div>
                                                  <div class="card-notification">
                                                      <div class="card-noti-conatin">
                                                          <h6>12 mins ago</h6>
                                                          <p class="text-muted m-b-30">jennifer invite you to join the project</p>
                                                      </div>
                                                  </div>

                                              </div>
                                          </div>
                                      </div>
                                      <!-- Analythics Start -->
                                      <div class="col-md-6">
                                          <div class="card">
                                              <div class="card-block">
                                                  <h5>Analytics </h5>
                                              </div>
                                              <div class="card-block">
                                                  <div id="analythics-graph"></div>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Analythics Ends -->
                                      <!--feed start-->
                                      <div class="col-md-8">
                                            <div class="card">
                                                    <div class="card-block">
                                                    <h5>Activity Feed</h5>
                                                   
                                                    </div>
                                                    <div class="card-block">
                                                    <ul class="feed-blog">
                                                    <li class="active-feed">
                                                    <div class="feed-user-img">
                                                    <img src="./assets/images/avatar-3.jpg" class="img-radius " alt="User-Profile-Image">
                                                    </div>
                                                    <h6><span class="label label-danger">File</span> Eddie uploaded new files: <small class="text-muted">2 hours ago</small></h6>
                                                    <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="row">
                                                    <div class="col-auto text-center">
                                                    <img src="./assets/images/blog-r-1.jpg" alt="img" class="img-fluid img-100">
                                                    <h6 class="m-t-15 m-b-0">Old Scooter</h6>
                                                    <p class="text-muted m-b-0"><small>PNG-100KB</small></p>
                                                    </div>
                                                    <div class="col-auto text-center">
                                                    <img src="./assets/images/blog-r-2.jpg" alt="img" class="img-fluid img-100">
                                                    <h6 class="m-t-15 m-b-0">Wall Art</h6>
                                                    <p class="text-muted m-b-0"><small>PNG-150KB</small></p>
                                                    </div>
                                                    <div class="col-auto text-center">
                                                    <img src="./assets/images/blog-r-3.jpg" alt="img" class="img-fluid img-100">
                                                     <h6 class="m-t-15 m-b-0">Microphone</h6>
                                                    <p class="text-muted m-b-0"><small>PNG-150KB</small></p>
                                                    </div>
                                                    </div>
                                                    </li>
                                                    <li class="diactive-feed">
                                                    <div class="feed-user-img">
                                                    <img src="./assets/images/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
                                                    </div>
                                                    <h6><span class="label label-success">Task</span>Sarah marked the Pending Review: <span class="text-c-green"> Trash Can Icon Design</span><small class="text-muted">2 hours ago</small></h6>
                                                    </li>
                                                    <li class="diactive-feed">
                                                    <div class="feed-user-img">
                                                    <img src="./assets/images/avatar-2.jpg" class="img-radius " alt="User-Profile-Image">
                                                    </div>
                                                    <h6><span class="label label-primary">comment</span> abc posted a task: <span class="text-c-green">Design a new Homepage</span> <small class="text-muted">6 hours ago</small></h6>
                                                    <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    </li>
                                                    <li class="active-feed">
                                                    <div class="feed-user-img">
                                                    <img src="./assets/images/avatar-3.jpg" class="img-radius " alt="User-Profile-Image">
                                                    </div>
                                                    <h6><span class="label label-warning">Task</span>Sarah marked : <span class="text-c-green"> do Icon Design</span><small class="text-muted">10 hours ago</small></h6>
                                                    </li>
                                                    </ul>
                                                    </div>
                                                    </div>
                                      </div>
                                      <!--feed end-->
                                   <!--Project progress-->
                                   <div class="col-md-12">
                                    <div class="card">
                                    <div class="card-block">
                                    <h5>Project progress</h5>
                                    </div>
                                    <div class="card-block product-table p-t-35">
                                            <div class="table-responsive">
                                                    <table class="table table-custom" id="project-progress">
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Project</th>
                                                                <th>Priority</th>
                                                                <th>Status</th>
                                                                <th class="text-right no-sort">Chart</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Graphic layout for client</td>
                                                                <td>
                                                                    <small class="text-danger">High Priority</small>
                                                                </td>
                                                                <td>
                                                                    <div class="progress-xxs not-rounded mb-0 inline-block progress" style="width: 150px; margin-right: 5px">
                                                                        <div class="progress-bar progress-bar-greensea" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width: 42%;"></div>
                                                                    </div>
                                                                    <small>42%</small>
                                                                </td>
                                                                <td class="text-right">
                                                                    <span class="sparkbar"><canvas width="74" height="21" style="display: inline-block; width: 74px; height: 21px; vertical-align: top;"></canvas></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>Make website responsive</td>
                                                                <td>
                                                                    <small class="text-success">Low Priority</small>
                                                                </td>
                                                                <td>
                                                                    <div class="progress-xxs not-rounded mb-0 inline-block progress" style="width: 150px; margin-right: 5px">
                                                                        <div class="progress-bar progress-bar-greensea" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                                                                    </div>
                                                                    <small>89%</small>
                                                                </td>
                                                                <td class="text-right">
                                                                    <span class="sparkbar"><canvas width="74" height="21" style="display: inline-block; width: 74px; height: 21px; vertical-align: top;"></canvas></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>Clean html/css/js code</td>
                                                                <td>
                                                                    <small class="text-danger">High Priority</small>
                                                                </td>
                                                                <td>
                                                                    <div class="progress-xxs not-rounded mb-0 inline-block progress" style="width: 150px; margin-right: 5px">
                                                                        <div class="progress-bar progress-bar-greensea" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%;"></div>
                                                                    </div>
                                                                    <small>23%</small>
                                                                </td>
                                                                <td class="text-right">
                                                                    <span class="sparkbar"><canvas width="74" height="21" style="display: inline-block; width: 74px; height: 21px; vertical-align: top;"></canvas></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>Database optimization</td>
                                                                <td>
                                                                    <small class="text-warning">Normal Priority</small>
                                                                </td>
                                                                <td>
                                                                    <div class="progress-xxs not-rounded mb-0 inline-block progress" style="width: 150px; margin-right: 5px">
                                                                        <div class="progress-bar progress-bar-greensea" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%;"></div>
                                                                    </div>
                                                                    <small>56%</small>
                                                                </td>
                                                                <td class="text-right">
                                                                    <span class="sparkbar"><canvas width="74" height="21" style="display: inline-block; width: 74px; height: 21px; vertical-align: top;"></canvas></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td>Database migration</td>
                                                                <td>
                                                                    <small class="text-success">Low Priority</small>
                                                                </td>
                                                                <td>
                                                                    <div class="progress-xxs not-rounded mb-0 inline-block progress" style="width: 150px; margin-right: 5px">
                                                                        <div class="progress-bar progress-bar-greensea" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%;"></div>
                                                                    </div>
                                                                    <small>48%</small>
                                                                </td>
                                                                <td class="text-right">
                                                                    <span class="sparkbar"><canvas width="74" height="21" style="display: inline-block; width: 74px; height: 21px; vertical-align: top;"></canvas></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>6</td>
                                                                <td>Email server backup</td>
                                                                <td>
                                                                    <small class="text-warning">Normal Priority</small>
                                                                </td>
                                                                <td>
                                                                    <div class="progress-xxs not-rounded mb-0 inline-block progress" style="width: 150px; margin-right: 5px">
                                                                        <div class="progress-bar progress-bar-greensea" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div>
                                                                    </div>
                                                                    <small>10%</small>
                                                                </td>
                                                                <td class="text-right">
                                                                    <span class="sparkbar"><canvas width="74" height="21" style="display: inline-block; width: 74px; height: 21px; vertical-align: top;"></canvas></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                    </div>
                                    </div>
                                    </div>
                              
                              <!--fin project progress-->
                              <!-- Support ticket-->
                              <div class="col-md-12">
                                    <div class="card">
                                    <div class="card-block">
                                    <h5>Support ticket</h5>
                                    </div>
                                    <div class="card-block product-table p-t-35">
                                    <div class="table-responsive">
                                            <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list footable-loaded footable" data-page-size="10">
                                                    <thead>
                                                        <tr>
                                                            <th class="footable-sortable">ID #<span class="footable-sort-indicator"></span></th>
                                                            <th class="footable-sortable">Opened By<span class="footable-sort-indicator"></span></th>
                                                            <th class="footable-sortable">Cust. Email<span class="footable-sort-indicator"></span></th>
                                                            <th class="footable-sortable">Sbuject<span class="footable-sort-indicator"></span></th>
                                                            <th class="footable-sortable">Status<span class="footable-sort-indicator"></span></th>
                                                            <th class="footable-sortable">Assign to<span class="footable-sort-indicator"></span></th>
                                                            <th class="footable-sortable">Date<span class="footable-sort-indicator"></span></th>
                                                            <th class="footable-sortable">Action<span class="footable-sort-indicator"></span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="footable-even" style="">
                                                            <td><span class="footable-toggle"></span>1011</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/1.jpg" alt="user" class="img-circle"> Genelia Deshmukh</a>
                                                            </td>
                                                            <td>genelia@gmail.com</td>
                                                            <td>How to customize the template?</td>
                                                            <td><span class="label label-warning">New</span> </td>
                                                            <td>Johnathon</td>
                                                            <td>14-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-odd" style="">
                                                            <td><span class="footable-toggle"></span>1224</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/2.jpg" alt="user" class="img-circle"> Ritesh Deshmukh</a>
                                                            </td>
                                                            <td>ritesh@gmail.com</td>
                                                            <td>How to change colors</td>
                                                            <td><span class="label label-success">Complete</span> </td>
                                                            <td>Salman khan</td>
                                                            <td>13-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-even" style="">
                                                            <td><span class="footable-toggle"></span>1024</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/3.jpg" alt="user" class="img-circle"> Govinda Mauli</a>
                                                            </td>
                                                            <td>govinda@gmail.com</td>
                                                            <td>How to set Horizontal nav</td>
                                                            <td><span class="label label-success">Complete</span> </td>
                                                            <td>Hritik Roshan</td>
                                                            <td>13-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-odd" style="">
                                                            <td><span class="footable-toggle"></span>2124</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/4.jpg" alt="user" class="img-circle"> Raja Mauli</a>
                                                            </td>
                                                            <td>bahubali@gmail.com</td>
                                                            <td>How this will connect with bahubali</td>
                                                            <td><span class="label label-inverse">Pending</span> </td>
                                                            <td>Hritik Roshan</td>
                                                            <td>12-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-even" style="">
                                                            <td><span class="footable-toggle"></span>3124</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/5.jpg" alt="user" class="img-circle"> Rana Dagubati</a>
                                                            </td>
                                                            <td>ranabati@gmail.com</td>
                                                            <td>How to set navigation</td>
                                                            <td><span class="label label-success">Complete</span> </td>
                                                            <td>Hritik Roshan</td>
                                                            <td>12-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-odd" style="">
                                                            <td><span class="footable-toggle"></span>1611</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/6.jpg" alt="user" class="img-circle"> Tony Deshmukh</a>
                                                            </td>
                                                            <td>genelia@gmail.com</td>
                                                            <td>How to customize the template?</td>
                                                            <td><span class="label label-warning">New</span> </td>
                                                            <td>Johnathon</td>
                                                            <td>14-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-even" style="">
                                                            <td><span class="footable-toggle"></span>4224</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/7.jpg" alt="user" class="img-circle"> Ritesh Deshmukh</a>
                                                            </td>
                                                            <td>ritesh@gmail.com</td>
                                                            <td>How to change colors</td>
                                                            <td><span class="label label-success">Complete</span> </td>
                                                            <td>Salman khan</td>
                                                            <td>13-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-odd" style="">
                                                            <td><span class="footable-toggle"></span>2524</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/3.jpg" alt="user" class="img-circle"> Govinda Mauli</a>
                                                            </td>
                                                            <td>govinda@gmail.com</td>
                                                            <td>How to set Horizontal nav</td>
                                                            <td><span class="label label-success">Complete</span> </td>
                                                            <td>Hritik Roshan</td>
                                                            <td>13-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-even" style="">
                                                            <td><span class="footable-toggle"></span>7524</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/4.jpg" alt="user" class="img-circle"> Raja Mauli</a>
                                                            </td>
                                                            <td>bahubali@gmail.com</td>
                                                            <td>How this will connect with bahubali</td>
                                                            <td><span class="label label-inverse">Pending</span> </td>
                                                            <td>Hritik Roshan</td>
                                                            <td>12-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-odd" style="">
                                                            <td><span class="footable-toggle"></span>4124</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/5.jpg" alt="user" class="img-circle"> Rana Dagubati</a>
                                                            </td>
                                                            <td>ranabati@gmail.com</td>
                                                            <td>How to set navigation</td>
                                                            <td><span class="label label-success">Complete</span> </td>
                                                            <td>Hritik Roshan</td>
                                                            <td>12-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-even" style="display: none;">
                                                            <td><span class="footable-toggle"></span>1011</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/8.jpg" alt="user" class="img-circle"> Ama Deshmukh</a>
                                                            </td>
                                                            <td>genelia@gmail.com</td>
                                                            <td>How to customize the template?</td>
                                                            <td><span class="label label-warning">New</span> </td>
                                                            <td>Johnathon</td>
                                                            <td>14-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-odd" style="display: none;">
                                                            <td><span class="footable-toggle"></span>1224</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/7.jpg" alt="user" class="img-circle"> adfh abraham</a>
                                                            </td>
                                                            <td>ritesh@gmail.com</td>
                                                            <td>How to change colors</td>
                                                            <td><span class="label label-success">Complete</span> </td>
                                                            <td>Salman khan</td>
                                                            <td>13-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-even" style="display: none;">
                                                            <td><span class="footable-toggle"></span>8024</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/6.jpg" alt="user" class="img-circle"> atest adg</a>
                                                            </td>
                                                            <td>govinda@gmail.com</td>
                                                            <td>How to set Horizontal nav</td>
                                                            <td><span class="label label-success">Complete</span> </td>
                                                            <td>Hritik Roshan</td>
                                                            <td>13-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-odd" style="display: none;">
                                                            <td><span class="footable-toggle"></span>5124</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/5.jpg" alt="user" class="img-circle"> Raja Mauli</a>
                                                            </td>
                                                            <td>bahubali@gmail.com</td>
                                                            <td>How this will connect with bahubali</td>
                                                            <td><span class="label label-inverse">Pending</span> </td>
                                                            <td>Hritik Roshan</td>
                                                            <td>12-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-even" style="display: none;">
                                                            <td><span class="footable-toggle"></span>3144</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/4.jpg" alt="user" class="img-circle"> Rana Dagubati</a>
                                                            </td>
                                                            <td>ranabati@gmail.com</td>
                                                            <td>How to set navigation</td>
                                                            <td><span class="label label-success">Complete</span> </td>
                                                            <td>Hritik Roshan</td>
                                                            <td>12-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-odd" style="display: none;">
                                                            <td><span class="footable-toggle"></span>1621</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/3.jpg" alt="user" class="img-circle"> Tony Deshmukh</a>
                                                            </td>
                                                            <td>genelia@gmail.com</td>
                                                            <td>How to customize the template?</td>
                                                            <td><span class="label label-warning">New</span> </td>
                                                            <td>Johnathon</td>
                                                            <td>14-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-even" style="display: none;">
                                                            <td><span class="footable-toggle"></span>4724</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/2.jpg" alt="user" class="img-circle"> Ritesh Deshmukh</a>
                                                            </td>
                                                            <td>ritesh@gmail.com</td>
                                                            <td>How to change colors</td>
                                                            <td><span class="label label-success">Complete</span> </td>
                                                            <td>Salman khan</td>
                                                            <td>13-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-odd" style="display: none;">
                                                            <td><span class="footable-toggle"></span>2594</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/1.jpg" alt="user" class="img-circle"> Govinda Mauli</a>
                                                            </td>
                                                            <td>govinda@gmail.com</td>
                                                            <td>How to set Horizontal nav</td>
                                                            <td><span class="label label-success">Complete</span> </td>
                                                            <td>Hritik Roshan</td>
                                                            <td>13-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-even" style="display: none;">
                                                            <td><span class="footable-toggle"></span>7524</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/4.jpg" alt="user" class="img-circle"> Raja Mauli</a>
                                                            </td>
                                                            <td>bahubali@gmail.com</td>
                                                            <td>How this will connect with bahubali</td>
                                                            <td><span class="label label-inverse">Pending</span> </td>
                                                            <td>Hritik Roshan</td>
                                                            <td>12-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr class="footable-odd" style="display: none;">
                                                            <td><span class="footable-toggle"></span>4124</td>
                                                            <td>
                                                                <a href="javascript:void(0)"><img src="./assets/images/5.jpg" alt="user" class="img-circle"> Rana Dagubati</a>
                                                            </td>
                                                            <td>ranabati@gmail.com</td>
                                                            <td>How to set navigation</td>
                                                            <td><span class="label label-success">Complete</span> </td>
                                                            <td>Hritik Roshan</td>
                                                            <td>12-10-2017</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    
                                                </table>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                              <!--fin support ticket-->

                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--<div id="styleSelector">-->

                      <!--</div>-->
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="side-menu" >
      <div class="container">
            <div class="slide-nav__header"> 
                  <i class="fa fa-arrow-left fa-3x slide-nav__back " (click)="toggleSideMenu()"></i>
        <img src="./assets/images/logo1.png" class="slide-nav__logo"></div>

      
      <div class="row">
       <div class="col-sm-4 cols"><a href=""><img src="./assets/images/30.png"></a><br><span>Storage</span> </div>
       <div class="col-sm-4 cols"><a href=""><img src="./assets/images/31.png"></a><br><span>Search</span> </div>
       <div class="col-sm-4 cols"><a href=""><img src="./assets/images/32.png"></a><br><span>Calendar</span> </div>
      </div>
      <div class="row">
            <div class="col-sm-4 cols"><a href=""><img src="./assets/images/33.png"></a><br><span>Mail</span> </div>
            <div class="col-sm-4 cols"><a href=""><img src="./assets/images/34.png"></a><br><span>Images</span> </div>
            <div class="col-sm-4 cols"><a href=""><img src="./assets/images/35.png"></a><br><span>News</span> </div>
           </div>
           <div class="row">
                <div class="col-sm-4 cols"><a href=""><img src="./assets/images/36.png"></a><br><span>Maps</span> </div>
                <div class="col-sm-4 cols"><a href=""><img src="./assets/images/37.png"></a><br><span>Market</span> </div>
                <div class="col-sm-4 cols"><a href=""><img src="./assets/images/38.png"></a><br><span>Weather</span> </div>
               </div>
    </div>
  </div>
</div>

