

  <div class="wrap1">
    <p class="form-title">
        Sign Up</p>
    <form class="login1">
      <input type="text" placeholder="Email" name="email" />
    <input type="submit" value="Continue" class="btn1 btn-success1" id="bttn" />
  
    
    </form>
</div>



